name: Generate Metrics

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          
          # Основные настройки
          user: ${{ github.repository_owner }}
          template: classic
          base: header, activity, community, repositories, metadata
          
          # Плагины (выберите что нравится)
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
          
          plugin_languages: yes
          plugin_languages_colors: github
          plugin_languages_threshold: 0%
          
          plugin_habits: yes
          plugin_habits_from: 200
          plugin_habits_days: 14
          plugin_habits_charts: yes
          
          plugin_activity: yes
          plugin_activity_limit: 5
          plugin_activity_days: 14
          
          # Темная тема
          config_timezone: Europe/Moscow
          config_theme: dark
